.page-content 
    .post 
        h3 
             img(src="images/img-10.jpeg", alt="")
             p User Name
        img(src="images/boston-2.jpeg", alt="")
        .action 
            button
            button 
               