.page-content 
    .post 
        h3 
             img(src="images/img-10.jpeg", alt="")
             p User Name
        img(src="images/boston-2.jpeg", alt="")
        .action 
            .react 
                img(src="images/like-1.svg", alt="", srcset="")
                img(src="images/comment.svg", alt="", srcset="")
            p 2,500 likes
        .comment
            input(type="text" placeholder="Add a comment...")
            //- textarea(name="", cols="30", rows="1") 
            button Post
               