.nav
    .nav-content
        .logo 
            img(src="/images/instagram.svg", alt="logo", srcset="")
        .input-field 
            .search-icon
            input(type="text" placeholder="Search..")
        .nav-icons
            img(src="/images/home.svg", alt="icons", srcset="")
            img(src="/images/camera.svg", alt="icons", srcset="")
            img(src="/images/person.svg", alt="icons", srcset="")
