.page{
    background-color: $backgroundColor;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.page-content{
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    .post{
        height: 707px;
        width: 451px;
        border: 1px solid #cfcfcf;
        margin-top: 25px;
        border-radius: 7px;
        h3 {
            height: 56px;
            border-bottom: 1px solid;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                border-radius: 50%;
                height: 33px;
                width: 33px;
                margin: 10px;
            }
        }
        img {
            width: 450px;
            height: 530px;
        }
        .action {
            .react{
                display: flex;
                width: 0;
                img {
                    margin: 10px;
                    height: 24px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            p {
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
            }
        }   
        .comment{
            border-top: 1px solid #bbb;
            margin: 10px 0px;
            display: flex;
            justify-content: space-between;
            input[type="text"] {
                margin: 16px 0px 0px 10px;
                border: none;
                width: 100%;
                font-size: 15px;
                &:focus{
                    outline: none;
                }
            }
            button {
                margin: 16px 10px 0px 10px;
                background: white;
                font-weight: bold;
                border: none;
                color: lightblue;
            }
        }
    }
}