.nav {
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eeee;
    &-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        width: 975px;
        input[type="text"] {
            border-radius: 7px;
            height: 35px;
            padding: 10px;
            width: 270px;
            border: none;
            background: rgb(239, 239, 239);
            &:focus {
                outline: none;
            }
        }
        .nav-icons img {
            padding: 10px;
            height: 40px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
}   
